# Ignore personal examples
examples/

# Ignore generated build outputs
build/
executables/

# Ignore object files and executables
*.o
*.exe
*.qsc
*.qsr
*.txt

# Do NOT ignore .qs in tests/
!tests/
!tests/*.qs